/* local font initialisation */

/* all global css variable here */
:root {
  --main-font:  Sans;
  --prim-color: #4a4a4a;
  --sec-color: #f5f5f5;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 20px 14px;
  width: 150px;
  height: 44px;
  margin: 0px 24px;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled{
  opacity: 0.5;
  pointer-events: none;
}

.primaryButton {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
}

.primaryButton:hover {
  background: #ffffff;
  color: #000000;
}

.secondaryButton {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50px;
}

.secondaryButton:hover {
  background: #000000;
  color: #ffffff;
}

.lightTag {
  background: #dddedf;
}

.darkTag {
  background: #535353;
  color: white;
}
